This needs a partial to create new user unless this is part of the sign up process

Should have a link_to create new recipient if not part of sign up process

<h1>Sign Up</h1>

<%= form_for(@giver) do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

    <%= f.submit "Sign Up" %>
    
<% end %>