This form creates a new recipient (partial?)

<h1>Add a new recipient!</h1>

<%= form_for(@recipient) do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <p>Match your new recipient with a gift that already exists:</p>
    <%= f.collection_select(:gift_id, Gift.all, :id, :name) %>

  <p>or create a new gift: </p>
  <div>
    <%= f.fields_for :gift do |g| %>
        <%= g.label :name %>
        <%= g.text_field :name %>
    <% end %>
  </div>

  <br>
    <%= f.submit "Create Recipient" %>

<% end %>