<% if @gift.errors.any? %>
  <ul>
  <% @gift.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>


<h1>Create a New Gift</h1>

<%= form_for(@gift) do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
    <br>
    <%= f.submit "Create Gift" %>

<% end %>